.bg-wrap {
<<<<<<< HEAD
  overflow: hidden;
  position: relative;
}
=======
    overflow: hidden;
    position: relative;
  }
>>>>>>> ba051b0ba05617c5b0127058c4832fa69e68476f

.bg-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;

}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> ba051b0ba05617c5b0127058c4832fa69e68476f
.bg-content {
  position: relative;
}

.g-signin2 {
  width: 100%;
}

<<<<<<< HEAD
.g-signin2>div {
  margin: 0 auto;
}

=======
.g-signin2 > div {
  margin: 0 auto;
}

.text-box{
  width:100%;
  min-height: 40px;
  border: 2px solid black;
  padding: 2px;
}
=======
  .bg-content {
    position: relative;
  }

  .chat-box {
    height: 400px;
  }

  .chat-msg {
    width: 42%;
  }
>>>>>>> 16d5381 (fixed chat page)
>>>>>>> ba051b0ba05617c5b0127058c4832fa69e68476f
