.bg-wrap {
    overflow: hidden;
    position: relative;
  }

  .bg-bg {
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;

  }

  .bg-content {
    position: relative;
  }
